<a href="https://colab.research.google.com/github/leon-maia/Portfolio-Voyager/blob/main/Previs%C3%A3o%20de%20Receitas%20Municipais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # data processing
import numpy as np
import json

import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry

In [2]:
#Para não ter dificuldade com requisições no site do TCE-PE

session = requests.Session()
retry = Retry(connect=3, backoff_factor=0.5)
adapter = HTTPAdapter(max_retries=retry)
session.mount('http://', adapter)
session.mount('https://', adapter)

In [3]:
exercicios = ['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
dicionario = {}
base_dados = []
base_dados_temp = []
for i, ano in enumerate(exercicios):
  url = 'https://sistemas.tce.pe.gov.br:443/DadosAbertos/ReceitasMunicipais!json?ANOREFERENCIA=%s&ID_UNIDADE_GESTORA=319' % (ano)
  resposta = session.get(url, stream=True)
  if i == 0:
    dicionario = json.loads(resposta.text)
    base_dados = pd.DataFrame.from_dict(data=dicionario['resposta']['conteudo'])
    print('Ano {} concluído.'.format(ano))
    print(f'Ano {ano}: {base_dados.shape[0]} linhas carregadas.')
  else:
    dicionario = json.loads(resposta.text)
    base_dados_temp = pd.DataFrame.from_dict(data=dicionario['resposta']['conteudo'])
    print('Ano {} concluído.'.format(ano))
    print('\n')
    print(f'Ano {ano}: {base_dados_temp.shape[0]} linhas carregadas.')
    base_dados = pd.concat([base_dados, base_dados_temp])
    print(f'Total: {base_dados.shape[0]} linhas carregadas.')

Ano 2012 concluído.
Ano 2012: 890 linhas carregadas.
Ano 2013 concluído.


Ano 2013: 934 linhas carregadas.
Total: 1824 linhas carregadas.
Ano 2014 concluído.


Ano 2014: 972 linhas carregadas.
Total: 2796 linhas carregadas.
Ano 2015 concluído.


Ano 2015: 1248 linhas carregadas.
Total: 4044 linhas carregadas.
Ano 2016 concluído.


Ano 2016: 1376 linhas carregadas.
Total: 5420 linhas carregadas.
Ano 2017 concluído.


Ano 2017: 1305 linhas carregadas.
Total: 6725 linhas carregadas.
Ano 2018 concluído.


Ano 2018: 1347 linhas carregadas.
Total: 8072 linhas carregadas.
Ano 2019 concluído.


Ano 2019: 1428 linhas carregadas.
Total: 9500 linhas carregadas.
Ano 2020 concluído.


Ano 2020: 1892 linhas carregadas.
Total: 11392 linhas carregadas.
Ano 2021 concluído.


Ano 2021: 1900 linhas carregadas.
Total: 13292 linhas carregadas.
Ano 2022 concluído.


Ano 2022: 453 linhas carregadas.
Total: 13745 linhas carregadas.

In [4]:
base_dados.shape

(13745, 12)

In [5]:
base_dados.columns

Index(['ID_UNIDADE_GESTORA', 'NUMERORECEITAORCAMENTARIAUG', 'DESCRICAO',
       'CATEGORIARECEITA', 'ANOREFERENCIA', 'MESREFERENCIA', 'VALORLANCAMENTO',
       'ESFERA', 'ORIGEMRECEITA', 'DEDUCAORECEITA', 'ESPECIERECEITA',
       'DESCRICAOFONTE'],
      dtype='object')

In [6]:
base_dados = base_dados.reset_index()

In [7]:
base_dados = base_dados.drop(labels='index', axis=1)

In [8]:
base_dados['COMPETENCIA'] = pd.to_datetime({'year': base_dados['ANOREFERENCIA'], 'month': base_dados['MESREFERENCIA'], 'day': 1}, format="%m/%Y")

In [9]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13745 entries, 0 to 13744
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_UNIDADE_GESTORA           13745 non-null  object
 1   NUMERORECEITAORCAMENTARIAUG  13743 non-null  object
 2   DESCRICAO                    13743 non-null  object
 3   CATEGORIARECEITA             13745 non-null  object
 4   ANOREFERENCIA                13745 non-null  object
 5   MESREFERENCIA                13745 non-null  object
 6   VALORLANCAMENTO              13745 non-null  object
 7   ESFERA                       13745 non-null  object
 8   ORIGEMRECEITA                13743 non-null  object
 9   DEDUCAORECEITA               13745 non-null  object
 10  ESPECIERECEITA               12339 non-null  object
 11  DESCRICAOFONTE               11921 non-null  object
 12  COMPETENCIA                  13745 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 1.4+ MB

In [10]:
base_dados.head()

,ID_UNIDADE_GESTORA,NUMERORECEITAORCAMENTARIAUG,DESCRICAO,CATEGORIARECEITA,ANOREFERENCIA,MESREFERENCIA,VALORLANCAMENTO,ESFERA,ORIGEMRECEITA,DEDUCAORECEITA,ESPECIERECEITA,DESCRICAOFONTE,COMPETENCIA
0,319,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,Dedução de Receitas,2012,2,-3655348.80,M,Alienação de Bens,9,NaN,NaN,2012-02-01
1,319,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,Dedução de Receitas,2012,4,-2974700.38,M,Alienação de Bens,9,NaN,NaN,2012-04-01
2,319,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,Dedução de Receitas,2012,5,-4365097.58,M,Alienação de Bens,9,NaN,NaN,2012-05-01
3,319,917220102,Dedução de Cota-Parte do IPVA - FUNDEB,Dedução de Receitas,2012,8,-3891.64,M,Alienação de Bens,9,NaN,NaN,2012-08-01
4,319,917220104,Dedução de Cota-Parte do IPI sobre Exportação ...,Dedução de Receitas,2012,9,-7644.57,M,Alienação de Bens,9,NaN,NaN,2012-09-01

In [11]:
# Lista de Receitas e Códigos
receitas_cod = base_dados[['NUMERORECEITAORCAMENTARIAUG', 'DESCRICAO']].drop_duplicates()
receitas_cod.to_csv('receitas_cod.csv', sep=';', index=False)

In [12]:
base_dados.loc[base_dados['NUMERORECEITAORCAMENTARIAUG'].isnull()]

,ID_UNIDADE_GESTORA,NUMERORECEITAORCAMENTARIAUG,DESCRICAO,CATEGORIARECEITA,ANOREFERENCIA,MESREFERENCIA,VALORLANCAMENTO,ESFERA,ORIGEMRECEITA,DEDUCAORECEITA,ESPECIERECEITA,DESCRICAOFONTE,COMPETENCIA
2819,319,NaN,NaN,Receitas Correntes,2015,11,100000.00,M,NaN,0,NaN,Outras Fontes,2015-11-01
3423,319,NaN,NaN,Receitas Correntes,2015,11,653831.00,M,NaN,0,NaN,Outras Fontes,2015-11-01

In [13]:
base_dados.drop([2819	, 3423], inplace=True)

In [14]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13743 entries, 0 to 13744
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_UNIDADE_GESTORA           13743 non-null  object
 1   NUMERORECEITAORCAMENTARIAUG  13743 non-null  object
 2   DESCRICAO                    13743 non-null  object
 3   CATEGORIARECEITA             13743 non-null  object
 4   ANOREFERENCIA                13743 non-null  object
 5   MESREFERENCIA                13743 non-null  object
 6   VALORLANCAMENTO              13743 non-null  object
 7   ESFERA                       13743 non-null  object
 8   ORIGEMRECEITA                13743 non-null  object
 9   DEDUCAORECEITA               13743 non-null  object
 10  ESPECIERECEITA               12339 non-null  object
 11  DESCRICAOFONTE               11919 non-null  object
 12  COMPETENCIA                  13743 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 1.5+ MB

In [15]:
# Transformar numeros em valores flutuantes
base_dados['VALORLANCAMENTO'] = base_dados['VALORLANCAMENTO'].astype(float)
base_dados['NUMERORECEITAORCAMENTARIAUG'] = base_dados['NUMERORECEITAORCAMENTARIAUG'].astype(int)

In [16]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13743 entries, 0 to 13744
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_UNIDADE_GESTORA           13743 non-null  object
 1   NUMERORECEITAORCAMENTARIAUG  13743 non-null  int64
 2   DESCRICAO                    13743 non-null  object
 3   CATEGORIARECEITA             13743 non-null  object
 4   ANOREFERENCIA                13743 non-null  object
 5   MESREFERENCIA                13743 non-null  object
 6   VALORLANCAMENTO              13743 non-null  float64
 7   ESFERA                       13743 non-null  object
 8   ORIGEMRECEITA                13743 non-null  object
 9   DEDUCAORECEITA               13743 non-null  object
 10  ESPECIERECEITA               12339 non-null  object
 11  DESCRICAOFONTE               11919 non-null  object
 12  COMPETENCIA                  13743 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 1.5+ MB

In [17]:
base_dados_gravar = base_dados[['COMPETENCIA', 'ANOREFERENCIA', 'ORIGEMRECEITA', 'DEDUCAORECEITA', 'NUMERORECEITAORCAMENTARIAUG', 'DESCRICAO', 'VALORLANCAMENTO']]

In [18]:
base_dados_gravar.head()

,COMPETENCIA,ANOREFERENCIA,ORIGEMRECEITA,DEDUCAORECEITA,NUMERORECEITAORCAMENTARIAUG,DESCRICAO,VALORLANCAMENTO
0,2012-02-01,2012,Alienação de Bens,9,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,-3655348.80
1,2012-04-01,2012,Alienação de Bens,9,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,-2974700.38
2,2012-05-01,2012,Alienação de Bens,9,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,-4365097.58
3,2012-08-01,2012,Alienação de Bens,9,917220102,Dedução de Cota-Parte do IPVA - FUNDEB,-3891.64
4,2012-09-01,2012,Alienação de Bens,9,917220104,Dedução de Cota-Parte do IPI sobre Exportação ...,-7644.57

In [19]:
base_dados_gravar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13743 entries, 0 to 13744
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   COMPETENCIA                  13743 non-null  datetime64[ns]
 1   ANOREFERENCIA                13743 non-null  object
 2   ORIGEMRECEITA                13743 non-null  object
 3   DEDUCAORECEITA               13743 non-null  object
 4   NUMERORECEITAORCAMENTARIAUG  13743 non-null  int64
 5   DESCRICAO                    13743 non-null  object
 6   VALORLANCAMENTO              13743 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 858.9+ KB

In [20]:
# Transformar data em texto para armazenamento no banco de dados - hipótese de explicação do erro.
base_dados_gravar['COMPETENCIA'] = base_dados_gravar['COMPETENCIA'].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Gravar em um Banco de Dados

In [46]:
# Importar biblioteca
import sqlite3

# Criar conexão
con = sqlite3.connect('baseTransferencias.db')

# Criar cursor
cur = con.cursor()

In [47]:
#Inserir DE-PARA receitas no banco de dados
receitas_tratadas = pd.read_csv('/content/receitas_tratadas.csv', sep=';', encoding='ISO-8859–1')

In [48]:
receitas_tratadas.head()

,NUMERORECEITAORCAMENTARIAUG,DESCRICAO,CLASSIFICACAO_SEREC,DETALHAMENTO
0,917220101,Deducao de Cota-Parte do ICMS - FUNDEB,ICMS,DEDUCAO FUNDEB
1,917220102,Deducao de Cota-Parte do IPVA - FUNDEB,IPVA,DEDUCAO FUNDEB
2,917220104,Deducao de Cota-Parte do IPI sobre Exportacao ...,IPI ExportaCAo,DEDUCAO FUNDEB
3,917230000,Deducao de Transferencias dos Municipios,OUTRAS TRANSFERENCIAS,OUTRAS DEDUCOES
4,917213600,Deducao de Transferencia Financeira do ICMS De...,ICMS DesoneraCAo L.C. Nº 87.96,DEDUCAO FUNDEB

In [49]:
#Criar tabela auxiliar
cur.execute('''CREATE TABLE receitasDePara
               (numeroReceitaOrcamentariaUG_2 text,
               classificacaoSerec text,
               detalhamento text
               )
               ''')

In [50]:
#Inserir dados na tabela
receitas_tratadas_normalizadas = receitas_tratadas[['NUMERORECEITAORCAMENTARIAUG',	
                                                    'CLASSIFICACAO_SEREC', 
                                                    'DETALHAMENTO']]
receitas_tratadas_lista = receitas_tratadas_normalizadas.values.tolist()

try:
  cur.executemany("INSERT INTO receitasDePara (numeroReceitaOrcamentariaUG_2, classificacaoSerec, detalhamento) VALUES (?, ?, ?)", receitas_tratadas_lista)
  con.commit()
  print("Dados inseridos com sucesso.")
except Exception as e:
  print(str(e))
  print("Falha na inserção de dados.")
finally:
  pass

Dados inseridos com sucesso.

In [51]:
#Criar tabela principal
cur.execute('''CREATE TABLE transferencias
               (data text,
               ano text,
               origemReceita text, 
               deducaoReceita text,
               numeroReceitaOrcamentariaUG text,
               descricao text,
               valor real,
               FOREIGN KEY (numeroReceitaOrcamentariaUG) REFERENCES receitaDePara(numeroReceitaOrcamentariaUG_2))
               ''')

In [52]:
#Inserir dados na tabela
base_dados_lista = base_dados_gravar.values.tolist()

try:
  cur.executemany("INSERT INTO transferencias (data, ano, origemReceita, deducaoReceita, numeroReceitaOrcamentariaUG, descricao, valor) VALUES (?, ?, ?, ?, ?, ?, ?)", base_dados_lista)
  con.commit()
  print("Dados inseridos com sucesso.")
except Exception as e:
  print(str(e))
  print("Falha na inserção de dados.")
finally:
  pass

Dados inseridos com sucesso.

In [ ]:
# Gerar tabela temporária?
# Ler os dados e salvar em listas e então tratá-los?

# Consulta base de dados
base_dados = cur.execute("SELECT * FROM transferencias as T LEFT JOIN receitasDePara as R ON T.numeroReceitaOrcamentariaUG = R. numeroReceitaOrcamentariaUG_2 where R.classificacaoSerec = FPM" )
base_dados = cur.fetchall()

In [ ]:
# Após decidir como organizar os dados, tratá-los.
from pandas.core.frame import DataFrame
base_dados = DataFrame(base_dados)
base_dados.columns = ['Data', 'Ano', 'OrigemReceita', 'DeducaoReceita', 'CodReceita', 'DescricaoReceita', 'Valor']
base_dados['Data'] = pd.to_datetime(base_dados['Data'])
base_dados['Valor'] = base_dados['Valor'].astype(float)

In [ ]:
base_dados.head()

,Data,Ano,OrigemReceita,DeducaoReceita,CodReceita,DescricaoReceita,Valor
0,2012-02-01,2012,Alienação de Bens,9,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,-3655348.80
1,2012-04-01,2012,Alienação de Bens,9,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,-2974700.38
2,2012-05-01,2012,Alienação de Bens,9,917220101,Dedução de Cota-Parte do ICMS - FUNDEB,-4365097.58
3,2012-08-01,2012,Alienação de Bens,9,917220102,Dedução de Cota-Parte do IPVA - FUNDEB,-3891.64
4,2012-09-01,2012,Alienação de Bens,9,917220104,Dedução de Cota-Parte do IPI sobre Exportação ...,-7644.57

In [ ]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13743 entries, 0 to 13742
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              13743 non-null  datetime64[ns]
 1   Ano               13743 non-null  object
 2   OrigemReceita     13743 non-null  object
 3   DeducaoReceita    13743 non-null  object
 4   CodReceita        13743 non-null  object
 5   DescricaoReceita  13743 non-null  object
 6   Valor             13743 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 751.7+ KB

In [ ]:
# Filtrar receitas de interesse
# Confirmar valor com arrecadação Município
# Consolidar por ano
# Aplicar modelos > função?